name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:

    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
          stable: true

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Build
        run: |
          TAG=$(git describe --tags --abbrev=0)
          GIT_TAG=$TAG make clean build

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          files: build/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          name: Release ${{ github.ref }}
